*{
  box-sizing: border-box;
}

/* Home styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./home-background-image.jpg');
  background-size: 100%;
}

header {
  background-color: #030000;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

header nav {
  display: flex;
}

.nav-btn {
  background-color: transparent;
  border: none;
  padding: 10px 0;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.nav-btn:hover {
  border-bottom: 2px solid #ffffff;
}

#content {
  padding: 40px;
}

#content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: fantasy;
}

.text{
  max-width: 50%;
}

#content p {
  font-size: 1.3em;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.book-btn{
  border: none;
  background-color: #030000;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 1.5rem;
}

.book-btn:hover{
  background-color: #EACF3A;
  border: 2px solid #000;
  color: #000;
}

/* Menu styles */
.menu-page{
  background-image: none;
  background-color: #EACF3A;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.menu-category {
  border: none;
  box-shadow: .3rem .3rem #b9896c;
  padding: 5px 20px;
  background-color: #030000;
}

.menu-category > h2 {
  text-align: center;
  color: #EACF3A;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.menu-item{
display: flex;
justify-content: space-between;
color: white;
}

.item-price{
  font-weight: 600;
}

/* ABout us style */

.about-container{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.para {
  font-size: 1rem;
  font-weight: 400;
  font-family: fantasy;
}

.social-media-icons{
  text-align: center;
}

.social-icon{
  margin: 20px 20px;
  height: 32px;
  width: 32px;
}