* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
font-size: 14px;
}

.top{
    background-color: rgb(94, 94, 248);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}