* {
    margin: 0;
}

body {
    height: 100%;
    font-family: Roboto, sans-serif;
    background-color: #83B4FF;
}

.div-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
    background-color: #5A72A0;
    color: white;
    padding: 5px;
}

.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBook {
    border: 1px solid #1A2130;
    border-radius: 4px;
    padding: 5px;
    background-color: #1A2130;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.addBook:hover {
    background-color: #5A72A0;
    border: 1px solid #5A72A0;
}

dialog {
    margin: auto;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #1A2130;
}

label {
    display: block;
    margin-top: 8px;
}

.dialogBtn {
    border: 1px solid #1A2130;
    background-color: #1A2130;
    color: white;
    padding: 4px;
    font-weight: bold;
    border-radius: 4px;
}

.div-3 {
    margin: 4rem;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bookContainer {
    height: 200px;
    width: 27%;
    margin: 10px;
    border: 2px solid #1A2130;
    border-radius: 20px;
    background-color: #5A72A0;
    
}

.bookContainer > h1{
    font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bookContainer>* {
    padding: 4px;
    color: white;
}

h1 {
    text-align: center;
    background-color: #1A2130;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.readButton,
.deleteButton {
    margin: 10px 50px;
    padding: 5px;
    border-radius: 5px;
}

.div-4 {
    background-color: #5A72A0;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
}

.quote {
    text-align: center;
    font-size: 24px;
    font-family: "Ga Maamli", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.quote-author {
    margin-left: 70%;
}
