*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    border: none;
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

html {
    font-size: 62.5%;
    /* (62.5/100) * 16px = 10px */
}

html {
    -webkit-text-size-adjust: none;
    /* for iOS Safari */
    text-size-adjust: none;
    /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

/*root color template */
:root {
    --primary-dark: rgba(19, 19, 38, 1);
    --text-primary: rgba(255, 255, 255, 1);
    --accent-color: rgba(48, 128, 120, 1);
    --gray-light: rgba(128, 128, 128, 0.3);
    --gray-dark: rgba(64, 64, 64, 1);
    --yellow: rgba(250, 159, 2, 1);
}

/* styles */

body {
    background-color: var(--primary-dark);
    display: flex;
    color: white;
}

.sidebar,
.main-content {
    background-color: var(--gray-light);
    margin: 1rem;
    padding: 2rem;
    height: 94.5vh;
    border-radius: 1rem;
}

.sidebar {
    width: 20%;
}

.sidebar-title {
    font-size: 3.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: var(--yellow);
    font-family: "Happy Monkey";
}

.options-container {
    height: 40%;
    margin-left: 0;
    margin-right: 0;
}

.options {
    font-size: 2rem;
    margin: 1.8rem 0;
    transition: font-size 0.1s ease-in-out, color 0.1s ease-in-out;
}

.options:hover {
    color: var(--yellow);
    font-size: 2.4rem;
}

.add-btn {
    background-color: var(--accent-color);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin: 1rem 3.5rem;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

}

.add-btn:hover {
    background-color: rgba(48, 128, 120, 0.6);
    color: white;
}

.add-btn:active {
    transform: scale(0.95);
}

.main-content {
    width: 80%;
    
}

.taskbox {
    background-color: var(--primary-dark);
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 10vh;
}

.taskbox .taskbox-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}

.taskbox .taskbox-title {
    font-size: 2rem;
    width: fit-content;
    font-weight: 600;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: var(--yellow);
}

.taskbox .taskbox-desc {
    font-size: 1.4rem;
}

.taskbox .taskbox-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.taskbox .taskbox-right>* {
    height: 50%;
}

.taskbox .taskbox-right-up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.taskbox .taskbox-date {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--yellow);
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.taskbox .taskbox-right-down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.taskbox .taskbox-priority-tag {
    font-size: 1.4rem;
}

.taskbox .taskbox-priority{
    font-size: 1.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
}

.priority-low {
    background-color: var(--gray-light);
    color: rgba(250, 5, 5, 1);
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.1rem 1rem;
    border-radius: 0.4rem;
}

.priority-mid {
    background-color: var(--gray-light);
    color: rgb(252, 194, 3);
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.1rem 1rem;
    border-radius: 0.4rem;
}

.priority-high {
    background-color: var(--gray-light);
    color: rgb(19, 212, 29);
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.1rem 1rem;
    border-radius: 0.4rem;
}

.taskbox .taskbox-hover:hover {
    color: var(--yellow);
}

.taskbox .taskbox-hover1:hover{
    background-color: var(--gray-light);
}

.taskbox .taskbox-hover:active {
    transform: scale(0.95);
}

.taskbox .taskbox-hover1:active{
    transform: scale(0.95);
}

.taskbox .taskbox-priority:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Dialog styles */
.dialog-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-dark);
    border-radius: 1rem;
    border: 1px solid var(--yellow);
    padding: 0.5rem 1rem;
    z-index: 999;
    opacity: 0;
    transition: step-start 0.8s ease-in-out; 
}

.dialog-container.active {
    display: block;
    opacity: 1;
}

#task-form {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2rem;
    font-size: 1.6rem;
}

#close-dialog{
    background: none;
    color: red;
    font-weight: 900;
    font-size: 2rem;
    align-self: flex-end;
}

#close-dialog:hover{
    background-color: var(--gray-light);
}

input, textarea, select{
    border-radius: 0.5rem;
    border: 1px solid var(--yellow);
    background-color: var(--text-primary);
}

input{
    height: 2.4rem;
}

.done{
    background-color: var(--accent-color);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 1rem;
    border-radius: .5rem;
    margin: 1rem 3.5rem;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.done:hover {
    background-color: rgba(48, 128, 120, 0.6);
    color: white;
}

.done:active {
    transform: scale(0.95);
}